@import 'base/reset'; // css reset
@import 'base/flex'; //flex
@import 'base/spacing';
@import 'base/font';

* {
    // outline: 1px solid green;
}
body {
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Roboto Condensed', sans-serif;
    font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 85px;
    background: #f0f0f0 0% 0% no-repeat padding-box;
    color: #2eb738;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.firstBox {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.hr-style {
    border: 0px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        border-top: 1px solid #2eb738;
        top: 50%;
        left: 0;
        right: 0;
    }
}

.title {
    &-area {
        // margin: 75px auto;
        text-align: center;
    }
    &-h1 {
        font-size: 56px;
        line-height: 1.5;
    }
    &-text {
        font-size: 24px;
        line-height: 1.5;
    }
}
.box {
    width: 350px;
    height: 350px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #d8d8d8;
    border-radius: 100px 0px 30px 0px;
    padding: 60px 30px 60px 50px;
    margin-bottom: 40px;
    justify-content: space-between;
    .box-title {
        font-size: 104px;
        // line-height: 1;
        font-weight: bold;
        border: 2px solid #ffffff;
        text-shadow: 4px 3px 0px #f0f0f0;
        // text-align: center;
        padding-left: 20px;
        // font-family: 'Oswald', sans-serif;
        // margin-right: 60px;
    }
    .box-text {
        // text-align: center;
        width: 50%;
        font-size: 24px;
        // letter-spacing: 7px;
        margin-top: 8px;
        // margin-right: 20px;
    }
}

.footer{
    max-width: 1440px;
    background-color: #2EB738;
    padding: 8px 85px;
    margin: 0 auto;
    color:#ffffff;
    text-align: right;
}